$lightGreen : #b9e7e7;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.app {
    display: flex;
    justify-content: center;
    font-family: Quicksand;
    .container {
        // width: 1024px;
        width: 90%;

        .link {
            text-decoration: none;
            color: inherit;
        }

        // LOGIN & REGISTER
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lightGreen;

        h1 {
            font-size: 30px;
            color: teal;
            margin-bottom: 20px;
        }

        form{
            display: flex;
            flex-direction: column;
            padding: 50px 50px;
            background-color: white;
            width: 200px;
            gap: 20px;

            input{
                padding: 10px;
                border: none;
                border-bottom: 1px solid grey;
            }

            button {
                margin-top: 40px;
                padding: 10px;
                border: none;
                background-color: teal;
                color: white;
                cursor: pointer;
                font-size: 15px;
            }

            p {
                font-size: 12px;
                color: red;
                text-align: center;
            }

            a {
                font-size: 20px;
                text-align: center;
                padding: 0;
                text-decoration: none;

            }
        }
        }

        .navbar {
            .container{
                padding: 10px 0px ;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .logo{
                    img{
                        width: 220px;
                    }
                    
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    h6 {
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span {
                        cursor: pointer;
                    }

                    .write {
                        background-color: $lightGreen;
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;

                        &:hover {
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                        }
                    }
                }
            }
        }

        // FOOTER
        footer {
            margin-top: 100px;
            padding: 20px;
            background-color: $lightGreen;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            
            img {
                height: 50px;
            }
        }

        // HOME

        .home {
            .posts {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .post {
                    display: flex;
                    gap: 100px;

                    &:nth-child(2n+1) {
                        flex-direction: row-reverse;
                    }
    
                    .img{
                        flex: 2;
                        position: relative;

                        &::after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: $lightGreen;
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            z-index: -1;
                        }
    
                        img {
                            width: 100%;
                            height: 400px;
                            object-fit: cover;
                        }
                    }
                    .content {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            font-size: 48px;
                        }

                        p {
                            font-size: 18px;
                        }

                        button {
                            width: max-content;
                            padding: 10px 20px;
                            border: 1px solid teal;
                            cursor: pointer;
                            background-color: white;
                            color: teal;

                            &:hover {
                                border: 1px solid white;
                                background-color: $lightGreen;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        .addedit {
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            width: 100%;
            // max-width: 800px;
            align-items: center;
            justify-content: center;

            form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                justify-content: center;
                

                input {
                    width: 300px;
                }
                .btn-area {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    input {
                        text-decoration: none;
                        margin: 0;
                    }
                  
                }
            }
        }

        .container-purchase-issues {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            section {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            
        }

        .questions {
            display: flex;
            flex-direction: column;
            gap: 2px;
            .answers{
                background-color: #f2f5f5;
            }
            header {
               
                display: flex;
                flex-direction: row;
                width: 800px;
                justify-content: space-between;
                background: #f2f5f5;
                // border: 1px solid teal;
                padding: 0, 20px;
                
                .border{
                    background-color: rgb(149, 171, 171);
                    width: 5px;
                }
                .summary {
                    padding: 3px;
                    display: flex;
                    flex-direction: row;
                    gap: 40px;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        width: 100px;
                        color: rgb(71, 52, 181);
                    }

                    .supplier{
                        width: 150px;
                        h6 {
                            margin: 0;
                        }
                        h4 {
                            color: rgb(181, 52, 112);
                            margin-bottom: 5px;
                            margin-top: 0;
                            padding: 0;
                        }
                    }
                    .product{
                        width: 350px;
                        padding: 0;
                        h6 {
                            margin: 0;
                        }
                    }

                    .product {
                        h4 {
                            color: rgb(181, 52, 112);
                            margin-bottom: 5px;
                            margin-top: 0;
                            padding: 0;
                        }
                    }
                }

                .btn {
                    background-color: transparent;
                }
                
            }
            .answers {
                padding: 10px;
            }


        }

        .purchase-issue-form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            form {
                display: flex;
                flex-direction: column;
                gap: 13px;
                input {
                    width: 220px;
                    padding: 5px;
                }
                select {
                    padding: 5px;
                }
            }
        }
        .comments {
            display: flex;
            flex-direction: column;
            background-color: #f2f5f5;
            padding: 10px;
            .desc{
                h4 {
                    color: rgb(71, 52, 181);
                }
                p {
                    background-color: white;
                    padding: 10px;
                    border-radius: 5px;
                }
                
            }
            .comment {
                display: flex;
                flex-direction: column;
                gap: 5px;
                h4 {
                    color: rgb(71, 52, 181);
                    margin: 0;
                }
                .comment-section {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .comments-map {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        .single-comment {
                            background-color: white;
                            width: 500px;
                            padding: 5px;
                            p {
                                margin: 0;
                                padding: 5px;
                            }
                        }
                        .user-details {
                            display: flex;
                            flex-direction: column;
                            justify-content: end;
                            p {
                                margin: 0;
                                font-size: 12px;
                            }
                        }
                    }
                }
                form {
                    margin-top: 5px;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                }


            }


        }
    }
}