.styled-table {
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: centerf ;
}

.styled-table th, .styled-table td {
    padding: 5px 12px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #f3f3f3;
}

.styled-table tbody th {
    border-bottom: 1px solid #f3f3f3;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #eaf6f3;
}

.btn {
    border: none;
    padding: 5px 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 20px;
}

.btn img {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
}

tbody img {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
}

.btn-edit {
    background-color: #008cba;
}

.btn-delete {
    background-color: transparent;
    color: none;
    border: none;
}


.btn-staff {
    margin-top: 100px;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 150px;

}

.add-staff {
    max-width: 400px;
    margin: 0 auto ;
}


